@mixin big-font($size: 1em) {
  font-size: $size;
  font-weight: 500;
}

.markdown {
  h1 { @apply scroll-m-20 text-3xl font-bold tracking-tight lg:text-4xl mb-3 text-lavender }
  h2 { @apply scroll-m-20 border-b pb-2 flex text-2xl font-semibold tracking-tight first:mt-0 text-lavender  }
  h3 { @apply scroll-m-20 text-xl mt-4 font-semibold tracking-tight text-lavender }
  p { @apply leading-6 [&:not(:first-child)]:mt-3 text-text }
  
  a {
    @apply font-medium underline underline-offset-2;
    color: rgb(137, 180, 250);
  }

  code {
    background-color: #313244;
    color: #b4befe;
    padding: 1px 4px;
  }

  blockquote { @apply mt-6 border-l-2 pl-4 italic bg-surface0 }
  ul { @apply my-2 ml-6 list-disc [&>li]:mt-1 }

  hr {
    margin: 1rem 0;
  }
}

.toc {
  background-color: rgb(24, 24, 37);
  border-radius: 0.5em;
  margin-bottom: 10px;
  margin-right: 6rem;
  max-width: 350px;
  padding: 5px 10px;

  a {
    color: rgb(59 130 246);
  }

  & { list-style-type: none; }
}