---
interface Props {
  color: string,
  text?: string,
  flip?: boolean,
}
const { color, text, flip } = Astro.props;
---
<span class="legend-color" style={{backgroundColor: color}}>
  <div class=`${flip && "text-black" || "text-white"} font-mono`>&nbsp;{(text === "self" && color) || text}&nbsp;</div>
</span>