---
import '../../styles/infobox.scss'
interface Props {
  title: string;
}
const { title } = Astro.props;
---
<table class="infobox">
  <caption class="infobox-title">{title}</caption>
  <tbody>
    <slot />
  </tbody>
</table>