---
import '../../styles/infobox.scss'
import { Image } from 'astro:assets';
import screenshot from "../../assets/KnownWikiSC.png"
import InfoboxLabel from './infobox_label.astro';
import Label from './infobox_nlabel.astro'

interface Props {
  title: string;
}

const { title } = Astro.props;
---
<table class="infobox">
  <caption class="infobox-title">{title}</caption>
  <tbody>
    <tr>
      <td colspan="2" class="infobox-image">
        <span id="image-view">
          <a href={screenshot.src}>
            <Image src={screenshot} alt="e"/>
          </a>
        </span>
        <div class="infobox-caption">Screenshot of KnownWiki's homepage on <br>August 16, 2024</div>
      </td>
    </tr>
    <Label title="Type of site" href="#" alt="Wiki"/>
    <Label title="Country of origin" href="#" alt="Canada"/>
    <InfoboxLabel title="Created by" href="#" alt="KnownSH"/>
    <InfoboxLabel title="URL" href="#" alt="knownsh.cc"/>
    <Label title="Written in" href="#" alt="TypeScript, Astro"/>
    <Label title="Launched" alt="August 16, 2024"/>
  </tbody>
</table>