---
const {title, href, alt} = Astro.props;
---
<tr>
  <th scope="row" class="infobox-label">
    <div class="inline-block leading-tight py-[0.1em] text-sm w-20">
      {title}
    </div>
  </th>
  <td class="infobox-data">
    <a href={href} class="text-sm mr-10">
      {alt}
    </a>
  </td>
</tr>