---
interface Props {
  title: string,
  alt?: string,
}
const {title, alt} = Astro.props;
---
<tr>
  <th scope="row" class="infobox-label">
    {title}
  </th>
  <td>
    {(alt && <div set:html={alt}>
      <slot />
    </div>) ?? <slot />}
  </td>
</tr>