---
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string,
  theme: string,
}

const { title, theme } = Astro.props;
---
<html lang="en" transition:animate="none">
  <head>
    <meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <ViewTransitions fallback="none"/>
    <slot name="head" />
  </head>
  <body class=`${theme} bg-base`>
    <slot />
  </body>
</html>